:root {
    --primary-color: #f4ce01;
    --secondary-color: #0F0F0B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    font: bold 2rem 'Open Sans', sans-serif;
}

.todo {
   display: flex;
   width: 50vw;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   gap: 15px; 
}

.todo__title {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-size: 3rem;
    color: var(--primary-color);
}

